body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}

h1{
    margin: 10px;
    text-align: center;
}

form.adicionar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-evenly;
    height: 90vh;
}
input{
    text-align: center;
}

.tipos{ 
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: start;
    justify-content: center;
    gap: 1rem;
    width: 10vw;
}


#btnSubmit{
    margin-top: 2em ;
}