body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

form.adicionar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-evenly;
    height: 90vh;
}

input {
    text-align: center;
}

.tipos {
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: start;
    justify-content: center;
    gap: 1rem;
    width: 10vw;
}

#btnSubmit {
    margin-top: 2em;
}

.beforeCheck {
    display: none;
}

.afterCheck {
    display: block;
}

form.adicionar2 {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

form.adicionar2 ul{
    list-style: none;
    display: grid;
    justify-items: start;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto  auto auto;
    justify-content: start;
}

form.adicionar2 ul li{
    grid-column: 2;
}

form.adicionar2 ul li#ratioDelete{
    display: flex;
    grid-row: 1/span 3;
    grid-column: 1;
    align-items: center;
}

.atualizar {
    text-align: center;
}

#pesquisa{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: flex-start;
}